doctype html
html
  head
    title Movies
  body
    h1 Movies
    div
      a(href="/addmovie") Add movie
    div
      table
        tbody
          each movie in movies
            tr
              td #{movie.title}
              td #{movie.director}
              td #{movie.year}
